# pyisotopomer

pyisotopomer is a Python toolbox for performing data corrections for N2O isotopomer data. Its core is a package of scripts to correct for scrambling in the ion source during isotope ratio mass spectrometry.

# Basic use

The import convention for pyIsotopomer is (hold down shift-enter to run the cell):

In [1]:
from pyisotopomer import Scrambling, Isotopomers

To calculate scrambling coefficients, the only function you need is:

In [21]:
Scrambling(inputfile='example_scrambling_input.csv',
           ref1="ATM", ref2="S2")

In [11]:
gk = Scrambling(inputfile='example_isotopomer_input.csv',
           ref1="ATM", ref2="B6")

In [12]:
gk.scrambling_mean

gamma    0.172274
kappa    0.079607
dtype: float64

In [10]:
gk.scrambling

      gamma     kappa
0  0.173154  0.079699
0  0.173172  0.079698
0  0.171669  0.079832
0  0.171687  0.079830
0  0.171594  0.079843
0  0.171477  0.079855
0  0.171659  0.079838
0  0.171542  0.079850

To calculate isotopocules, the only function you need is:

In [14]:
Isotopomers(inputfile = 'test_cases/labmeeting_isotopes.csv',
            scrambling = gk.scrambling_mean)

< First row:
d15Na: 14.75
d15Nb: -3.081
d15Nbulk: 5.837
SP: 17.83
d18O: 47.55>

# View the results

Your scrambling output will be automatically saved to the same directory as the input data, with the file naming convention "YYMMDD_scramblingoutput.csv". Likewise, your isotopocule output will be automatically saved with the file naming convention "YYMMDD_isotopeoutput.csv". You can also view the output of each function directly in Jupyter by running the following cells:

In [15]:
gk = Scrambling(inputfile='test_cases/labmeeting_atm_b6.csv',
           ref1="ATM", ref2="B6")
gk.scrambling

      gamma     kappa
0  0.173755  0.079660
0  0.173158  0.079932
0  0.171843  0.079366
0  0.171202  0.079598
0  0.171796  0.079530
0  0.171889  0.079553

In [16]:
deltavals = Isotopomers(inputfile = 'test_cases/labmeeting_isotopes.csv',
            scrambling = gk.scrambling_mean)
deltavals.deltavals

        d15Na      d15Nb         SP  d15Nbulk       d17O       d18O
0   14.753783  -3.080598  17.834382  5.836592  24.260426  47.551012
1    6.416391 -13.003401  19.419792 -3.293505  17.681347  34.550222
2   -0.658621   1.339940  -1.998561  0.340659  22.603664  44.269714
3   14.539848  -1.358155  15.898004  6.590846  24.352476  47.733469
4    6.202082 -12.920946  19.123028 -3.359432  17.780736  34.746038
5   -1.302643  -0.464958  -0.837685 -0.883801  21.594069  42.272605
6   15.640397  -5.112911  20.753308  5.263743  23.307978  45.664034
7   13.468613 -32.739736  46.208349 -9.635562  23.012068  45.078116
8   16.750490  -4.892692  21.643182  5.928899  23.171378  45.393539
9    6.542043 -13.648647  20.190690 -3.553302  17.047720  33.302274
10  -0.062893   0.330475  -0.393367  0.133791  22.459156  43.983745
11  14.037514  -3.940858  17.978372  5.048328  23.123566  45.298870
12  16.285056  -4.651710  20.936765  5.816673  23.703618  46.447671
13   6.624035 -13.948997  20.573033 -3.662481  17.560467  34.312088
14  12.876286 -26.709379  39.585665 -6.916547  22.706946  44.474125

In [18]:
deltavals.R

array([[0.00376903, 0.00778503, 0.0021171 ],
       [0.00373824, 0.0077154 , 0.00209074],
       [0.0037228 , 0.00774399, 0.00211035],
       [0.00376891, 0.00779061, 0.00211749],
       [0.00373765, 0.00771495, 0.00209113],
       [0.00371993, 0.00773461, 0.00210631],
       [0.00377076, 0.00778046, 0.0021133 ],
       [0.00375592, 0.00767079, 0.00211167],
       [0.00377416, 0.0077853 , 0.00211277],
       [0.0037382 , 0.00771325, 0.00208823],
       [0.00372426, 0.00774242, 0.00210977],
       [0.00376616, 0.0077788 , 0.00211256],
       [0.00377301, 0.00778467, 0.00211489],
       [0.00373855, 0.00771264, 0.00209025],
       [0.00375578, 0.00769067, 0.00211054]])

To learn about additional keyword arguments, including how to specify an output filename, adjust solver parameters, and view intermediate results, run the following cells:

In [19]:
?Scrambling

In [20]:
?Isotopomers